.cell {
  background-color: white;
  padding: 5px;
}

.cell:not(.from-previous-month):hover {
  background-color: #eee;
}

.from-previous-month {
  background-color: lightgrey;
}

.today {
  color: red;
  font-weight: bold;
}

@media (max-width: 300px) {
  .date {
    text-align: center;
  }
}
