.controls {
  align-self: flex-end;
  margin-left: auto;
  padding-bottom: 3px;
}

.controls * {
  font-size: 1.1rem;
}

.controls select {
  margin: 0 1px;
}

@media (max-height: 500px), (max-width: 500px) {
  .controls {
    align-self: safe center;
    margin-right: auto;
  }
}

@media (max-height: 400px), (max-width: 400px) {
  .controls * {
    font-size: 1rem;
  }
}

@media (max-height: 300px), (max-width: 300px) {
  .controls * {
    font-size: 0.9rem;
  }
}

@media (max-height: 250px), (max-width: 250px) {
  .controls * {
    font-size: 0.8rem;
  }
}

@media (max-height: 210px), (max-width: 210px) {
  .controls * {
    font-size: 0.7rem;
  }
}

@media (max-height: 180px), (max-width: 180px) {
  .controls * {
    font-size: 0.6rem;
  }
}

@media (max-height: 160px), (max-width: 160px) {
  .controls * {
    font-size: 0.5rem;
  }
}
