.header {
  background-color: salmon;
  display: flex;
  justify-content: space-around;
  height: 10%;
}

.header h1 {
  align-self: flex-end;
  color: white;
  font-size: 7rem;
  margin-right: auto;
  margin: 0 0 2px 0;
  padding: 0;
}

@media (max-height: 1100px) {
  .header h1 {
    font-size: 6rem;
  }
}

@media (max-height: 950px), (max-width: 950px) {
  .header h1 {
    font-size: 5rem;
  }
}

@media (max-height: 800px), (max-width: 800px) {
  .header h1 {
    font-size: 4rem;
  }
}

@media (max-height: 650px), (max-width: 650px) {
  .header h1 {
    font-size: 3rem;
  }
}

@media (max-height: 500px), (max-width: 500px) {
  .header h1 {
    display: none;
  }
}
